@page
@model IndividualAssignment.Pages.Admin.IndexModel
@{
}

<div class="johari Window">
    <h1>JohariWindow for Client</h1>
    <div>
        <p>FirstName Placeholder</p>
        <p>LastName Placeholder</p>
    </div>
    <section id="window">
        <table>
            <tr>
                <td></td>
                <td class="criteria">
                    <p>Known to Self</p>
                </td>
                <td class="criteria">
                    <p>Not Known to Self</p>
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="criteria">
                    <p>Known to Others</p>
                </td>
                <td id="Open" class="label">
                    <p>Open adjective matches go here</p>
                </td>
                <td id="Blind" class="label">
                    <p>Blind adjective matches go here</p>
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="criteria">
                    <p>Not Known to Others</p>
                </td>
                <td id="Hidden" class="label">
                    <p>Hidden adjective matches go here</p>
                </td>
                <td id="Unknown" class="label">
                    <p>Unknown adjectives go here</p>
                </td>
            </tr>
        </table>
    </section>
</div>